################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ManagePatient/bin
/ManagePatient/obj/Debug
/packages
